* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1em;
}

:root {
--Dark-Violet: hsl(256, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);
--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet: hsl(273, 4%, 51%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

p {
  color: var(--Dark-Grayish-Violet);
}

.menu {
  display: none !important;
}

.menu.active {
  display: flex !important;
  justify-content: flex-start;
  padding-top: 2.5em;
  align-items: center;
  text-align: center ;
  position: fixed;
  top: 5em;
  width: 100vw;
  height: 100vh;
  background-color: hsl(270, 9%, 17%);
  color: #fff;
  z-index: 1000;
}

.menu.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 55%;
  background: url(./assets/img/bg-pattern-mobile-nav.svg) no-repeat ;
  background-size: 100% ;
   background-position: top 5em center ;
   
}

li {
  cursor: pointer;
}

ul li {
  
  color: gray;
  font-weight:500;
}

ul li:hover {
  color: #fff;
}

#Hero{
  width: 100vw;
  height: 100%;
  background-color: hsl(270, 9%, 17%);
}


.cart-icon  img{
  max-width: 100%;
  margin: 1.4em 0;
}




figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mobile-image img {
  max-width: 100%;
}


figure div > img {
  position: relative;
  top: 2em;
  width: 390px;
}



#center li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  align-content: center;
}


.mini-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color:  hsl(256, 26%, 20%);
}

.mini-box button {
  margin: 2em 0;
}


#banner-information-block {
  background: url(./assets/img/bg-pattern-intro-left-mobile.svg),
   url(./assets/img/bg-pattern-intro-right-mobile.svg);
  background-repeat:  no-repeat, no-repeat;
  background-size:35%, 25%;
  background-position: top 0 left 0, right 0 bottom 0;
}

#about-title {
  position: relative;
  padding: 1em 0;
}

#about-title::before {
  content: '';
  position: absolute;
  top: .1em;
  left: 37%;
  display: inline-block;
  width: 25%;
  height: 2px;
  background-color: var(--Grayish-Blue);
  opacity: .3;
}


.footer-logo img {
  max-width: 100%;

}


@media (min-width: 1200px) {
  .menu.active, .menu {
    display: none !important;
  }   

  ul li {
    font-weight:500;
  }
  
  ul li:hover {
    color: #000;
  }
  


  #Hero{
    width: 100vw;
    height: 100%;
    background-color: #fff;

  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/img/bg-pattern-intro-left-desktop.svg), url(./assets/img/bg-pattern-intro-right-desktop.svg);
    background-size: 10%, 30% 70%;
    background-repeat: no-repeat, no-repeat;
    background-position: top 95% left 0, top 0 right 0 ;
    z-index: 10;
    pointer-events: none; /* opcional: faz a camada não capturar cliques */
  }

  body #Hero {
  position: relative;
  z-index: 1;
  }
  

  
#banner-information-block {
  background: none,
   none;
}

  
  




body #Hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: hsl(270, 9%, 17%);
  
}





figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure div > img {
  position: relative;
  top: 2em;
  width: 390px;
}


.cart-icon  img{
  max-width: 25%;
}


.mini-box {

  flex-direction: row !important;
  justify-content: space-between;

  padding: 0 2.5em;
}

.mini-box button {
  margin: 0;
}






#about-title::before {
  content: '';
  position: absolute;
  top: .1em;
  left: 0;
  display: inline-block;
  width: 9%;
  height: 2px;
}



.row-icons svg {
  margin: 0 .2em;
}

}