* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.menu {
  display: none !important;
}

.menu.active {
  display: flex !important;
  justify-content: flex-start;
  padding-top: 2.5em;
  align-items: center;
  text-align: center ;
  position: fixed;
  top: 5em;
  width: 100vw;
  height: 100vh;
  background-color: hsl(270, 9%, 17%);
  color: #fff;
}

.menu.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 55%;
  background: url(./assets/img/bg-pattern-mobile-nav.svg) no-repeat ;
  background-size: 100% ;
   background-position: top 5em center ;
}

#Hero{
  width: 100vw;
  height: 100%;
  background-color: hsl(270, 9%, 17%);
}





figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure div > img {
  position: relative;
  top: 2em;
  width: 390px;
}



#center li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  align-content: center;
}

@media (min-width: 1200px) {
  .menu.active, .menu {
    display: none !important;
  }   


  
body #Hero {
  position: relative;
}




body #Hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: hsl(270, 9%, 17%);
}




figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure div > img {
  position: relative;
  top: 2em;
  width: 390px;
}


}